{:paths ["src"]
 :deps  {org.clojure/clojure         {:mvn/version "1.9.0"}
         org.clojure/clojurescript   {:mvn/version "1.10.238"}
         re-frame                    {:mvn/version "0.10.4"}
         reagent                     {:mvn/version "0.7.0"
                                      :exclusions  [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server cljsjs/create-react-class]}}

 :aliases
 {:dev {:extra-deps
        {clj-rn {:git/url "https://github.com/endenwer/clj-rn"
                 :sha "ebc7d778d6bf2238c5e07f147b992c723e1d8dec"}

         ;; CIDER compatible nREPL
         com.cemerick/piggieback {:mvn/version "0.2.2"
                                  :exclusions  [com.google.javascript/closure-compiler]}
         cider/cider-nrepl       {:mvn/version "0.16.0"}
         refactor-nrepl          {:mvn/version "2.3.1"}}}}}
